# Настройки PyCharm (те самые, что мешали мерджу)
.idea/
*.iml

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение
venv/
.venv/
env/
ENV/

# Базы данных (если используете SQLite)
*.sqlite3

# Логи и временные файлы
*.log
.DS_Store
Thumbs.db

# Настройки окружения (секреты, ключи)
.env
setup.cfg
